{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\mypage.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="menu">
            <li class="logo">
                <a href="http://127.0.0.1:8000/"> 
                    <img src="{% static 'img/myBucketLogo.png' %}">
                </a>
            </li>

            <li id="main-button" type="button" class="tab-button" onclick="location.href='{% url "bucket_log" %}'"><img src="{% static 'img\main_menu\bucketlog_line.png' %}" style="width:100%; height: 6vh;"></li>
            <li id="main-button" type="button" class="tab-button" onclick="location.href='{% url "chome" %}'"><img src="{% static 'img\main_menu\community_line.png' %}" style="width:100%; height: 6vh;"></li>
            <li id="main-button" type="button" class="tab-button" onclick="location.href='{% url "mypage" %}'"><img src="{% static 'img\main_menu\mypage_line.png' %}" style="width:100%; height: 6vh;"></li>
        {% if user.is_authenticated %}
            <!-- if request를 보낸 사용자가 로그인이 된 사용자라면  -->
            <li class="tab-button">{{ user.first_name }}님, 환영합니다 !</li>
            <li class="tab-button">
                <a href="{% url 'logout' %}">log-out</a>
            </li>

            {% else %}

            <li class="tab-button"> 
                <a href="{% url 'create_account' %}">sign-up</a>
            </li>
            <li class="tab-button">
                <a href="{% url 'login' %}">log-in</a>
            </li>
            {% endif %}
  
        </ul>
</header>

    <ul class="mypage_menu">
        <li id="mymenu_mybucket" type="button" class="mymenu" onclick="location.href='{% url "mypage" %}'"><img src="{% static 'img\mymenu_button\mymenu_mybucket.png' %}" style="width:100%; height: 6vh;"></li>
        <li id="mymenu_follow" type="button" class="mymenu" onclick="location.href='{% url "show_following1" %}'"><img src="{% static 'img\mymenu_button\mymenu_follow_gray.png' %}" style="width:100%; height: 6vh;"></li>
        <li id="mymenu_scrap" type="button" class="mymenu" onclick="location.href='{% url "scrap" %}'"><img src="{% static 'img\mymenu_button\mymenu_scrap.png' %}" style="width:100%; height: 6vh;"></li>
        <li id="mymenu_write" type="button" class="mymenu" onclick="location.href='{% url "mywriting" %}'"><img src="{% static 'img\mymenu_button\mymenu_write.png' %}" style="width:100%; height: 6vh;"></li>
        <li id="mymenu_info" type="button" class="mymenu" onclick="location.href='{% url "change_info" %}'"><img src="{% static 'img\mymenu_button\mymenu_info.png' %}" style="width:100%; height: 6vh;"></li>
    </ul>

     
    <div class="bucket_list">
        <div class="bucket_text">
            <div class="mybucket">
                <div class="title">나의 버킷리스트<br></div>
                <img src="{% static 'img\plus.png' %}" class="plus_btn" style="width: auto; height: 3vh;" >
            </div>
            <input type="checkbox" name="color" value="blue" checked> 여행 | 남극가기<br>
            <input type="checkbox" name="color" value="blue" checked> 도전 | 스카이다이빙
        </div>     
    </div>

    <div class="my_bucket_log">
        <p class="my_log">나의 버킷로그</p><br>
        <div class="tag_list">
            <div class="tlist1">
                <img src="{% static 'img\bucketlog_tagimg\bucketlog_1.png' %}" alt="1" class="tag_img" style="width:auto; height:20vh;">
                <div class="tag_explain">
                    <div id="tag_ex1">
                        <div class="tag_title">feel my bucket!</div>
                        <div class="tag_sub">hi every one<br>i was djejwkldkfeljfkd!<br>it wasld l dkfkjdlkdsjf ❤️</div>
                        <div class="etc">
                            <p class="stb">#Travel</p>
                            <p class="hour">1 hour ago</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="tlist2">
            <img src="{% static 'img\bucketlog_tagimg\bucketlog_2.png' %}" alt="1" class="tag_img" style="width:auto; height:20vh;">
            <div class="tag_explain">
                <div id="tag_ex2">
                    <div class="tag_title">feel my bucket!</div>
                    <div class="tag_sub">hi every one<br>i was djejwkldkfeljfkd!<br>it wasld l dkfkjdlkdsjf ❤️</div>
                    <div class="etc">
                        <div class="stb">#Travel</div>
                        <div class="hour">1 hour ago</div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="tlist3">
            <img src="{% static 'img\bucketlog_tagimg\bucketlog_3.png' %}" alt="1" class="tag_img" style="width:auto; height:20vh;">
            <div class="tag_explain">
                <div id="tag_ex3">
                    <div class="tag_title">feel my bucket!</div>
                    <div class="tag_sub">hi every one<br>i was djejwkldkfeljfkd!<br>it wasld l dkfkjdlkdsjf ❤️</div>
                    <div class="etc">
                        <p class="stb">#Travel</p>
                        <p class="hour">1 hour ago</p>
                    </div>
                </div>
            </div> 
        </div>  
        <div class="tlist4">
            <img src="{% static 'img\bucketlog_tagimg\bucketlog_4.png' %}" alt="1" class="tag_img" style="width:auto; height:20vh;">
            <div class="tag_explain">
                <div id="tag_ex4">
                    <div class="tag_title">feel my bucket!</div>
                    <div class="tag_sub">hi every one<br>i was djejwkldkfeljfkd!<br>it wasld l dkfkjdlkdsjf ❤️</div>
                    <div class="etc">
                        <p class="stb">#Travel</p>
                        <p class="hour">1 hour ago</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>