*{
    margin: 0;
    padding: 0;
 }
  
  
 .menu{
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;   
 }
  
 .tab-button{
    padding: 1% 0% 1% 20px;
    float:left;
    margin-right:6%;
    margin-top: 2%;
    color: grey;
    text-decoration: none;
    cursor: pointer;
 }
  
 .list{
    letter-spacing: 1.5rem;
    position:absolute;
 }
  
 .logo{
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 2%;
 }
  
  
 #main-button{
    font-size: 1.5rem;
 }
 
 .text-box{
    text-align: center;
    position:sticky;
    margin-top:2%;   
 }
 
 .first-box{
    background-color: #c6f5f0;
    border: 0;
    
 }
 
 .second-box{
    background-color: #c6f5f0;
    border:0;
 }
 
 .third-box{
    background-color: #c6f5f0;
    border:0;
 }
 
 textarea{
    border: none;
    resize: none;
    font-size: 1.1rem;
 
 }
 
 .hashtag_btn{
    border:0;
    cursor: pointer;
    background-color: white;
    margin-left: 1.5%;
 }
 
 .hash_btn{
    text-align: center;
    margin-top:1.5%;
    padding: 10px;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
 }
 
 .up_load_btn{
    border: 0;
    width: 8%;
 
    font-size: 1.5rem;
    background-color: #04D9C3;
    color: white;
    margin-top:0.8%;
    border-radius: 10%;
    padding: 0.4%;
    cursor: pointer;
 }
 
 .up_btn{
    text-align: center;
 }
 
 .bucket_menu{
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
 
 .bucket_list_bar{
    background-color: #04D9C3;
    margin-top: 2%;
    
 }
 
 .tab-button-bucket{
    float:left;
    margin-right:2%;
    margin-top: 1%;
    text-decoration: none;
    cursor: pointer;
    color: #f7f2f2;
    margin-bottom: 1%;
 }