*{
    margin: 0;
    padding: 0;
} 

/* 상단 메뉴 바*/
.menu{
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
 
.tab-button{
    padding: 1% 0% 1% 20px;
    float:left;
    margin-right:6%;
    margin-top: 2%;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
 
.list{
    letter-spacing: 1.5rem;
    position:absolute;
}

.logo{
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 2%;
    max-width: 350px;
    max-height: 65px;
    width: auto;
    height: auto;
}


#main-button{
    font-size: 1.5rem;
}

/* 버킷로그페이지 */
/* 버킷로그란? */
.explain{
    background-color: #94f2e9;
    width: auto;
    height: 25vh;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2%;
}
/* 인기글 */
h2{
    margin-left: 3%;
    margin-top: 1.5%;
    border-bottom: 0.05em solid #117e74;
    width: 93%
}
.best_list{
    margin-left: 3%;
    margin-top: 0.5%;
    border-bottom: 0.05em solid rgba(17, 126, 115, 0.845);
    width: 93%
}
/* 태그 버튼 */
.tag{
    display: flex;
}
.tag-button{
    margin-top: 2%;
    width: auto;
    height: auto;
    padding: 1%;    
}
#adventure{
    margin-left: 7%;
}
#travel{
    margin-left: 0.5%;
}
#enjoy{
    margin-left: 0.5%;
}
#challenge{
    margin-left: 0.5%;
}
#selfimprove{
    margin-left: 0.5%;
}
#creative{
    margin-left: 0.5%;
}


/* 태그 리뷰 */
.tag_list{
    display: flex;
    margin-left: 5%;
    padding: 1.5%;
}

.tag_explain{
    margin: 0 auto;

    top: 0%;
    width: 100%;
    height: 87%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tag_img{
    display: block;
    margin: 8% auto;
}

.tag_title{
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 5%;
}

.tag_sub{
    text-align: center;
    font-size: 0.8rem;
    color: white;
    margin: 5%;
}

.etc{
    display: block;
    font-size: 0;
}

.stb{
    font-size: 0.5rem;
    text-align: center;
    background-color: white;
    width: 25%;
    border-radius: 1.5vw;
    margin: 4%;
    float:left
}

.hour{
    font-size: 0.5rem;
    color: gray;
    float: right;
    margin-top: 1vh;
    margin-right: 5%;
}

.tlist1{
    border-radius: 2vw;
    border: solid #04D9C3;
    margin: 1% 1%;
    width: 18%;
}

#tag_ex1{
    border-radius: 0px 0px 1.85vw 1.85vw;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background-color: #04D9C3;
}

.tlist2{
    border-radius: 2vw;
    border: solid #04D9C3;
    margin: 1% 1%;
    width: 18%;
    margin-left: 5%;
}

#tag_ex2{
    border-radius: 0px 0px 1.85vw 1.85vw;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background-color: #04D9C3;
}

.tlist3{
    border-radius: 2vw;
    border: solid #04D9C3;
    margin: 1% 1%;
    width: 18%;
    margin-left: 5%;
}

#tag_ex3{
    border-radius: 0px 0px 1.85vw 1.85vw;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background-color: #04D9C3;
}

.tlist4{
    border-radius: 2vw;
    border: solid #04D9C3;
    margin: 1% 1%;
    width: 18%;
    margin-left: 5%;
}

#tag_ex4{
    border-radius: 0px 0px 1.85vw 1.85vw;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background-color: #04D9C3;
}